OPENSERV_API_KEY=<your-agent-secret-key>
PORT=7378 # default port for the agent, choose any port you want
OPENAI_API_KEY=<your-openai-api-key> #optional, if you want to est your agent locally
OPENSERV_API_URL=https://api.openserv.ai
OPENSERV_RUNTIME_URL=https://agents.openserv.ai